<!DOCTYPE html>
<html>
<head>
    <title>GROCERIES</title>
</head>
<body>
    <h1>Groceries</h1>
    <table style="width: 100%">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Store</th>
            <th>Unit</th>
        </tr>
        {% for item, price, store, unit in groceries %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ price }}</td>
                <td>{{ store }}</td>
                <td>{{ unit }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
