<!DOCTYPE html>
<html>
<head>
    <title>GROCERIES</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Groceries</h1>
    <table class="darkTable">
        <tr>
            {% for item in headerRow %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% for row in groceries %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <!--
        Add buttons that sort categories
    -->
</body>
</html>
